<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<%= render "layouts/ham" %>

<div class="my-profile-background-cover"></div>
  <div class="text-cover">
    <div class="big-text-cover">
      <div class="your-profile-text"> <h1>Your profile,</h1></div>
      <div class="your-politician-text"> <h1>your politicians.</h1></div>
    </div>  
      <div class="your-likes-small-text"> <h2>Your likes, their views.</h2></div>
      <div class="red-line-logo-profile"></div>
  </div>
  <h1 class="tittle-profile-text">My Profile</h1>
 
 <%= render "layouts/footer" %>
 