<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<%= render "layouts/ham" %>

<div class="parallax-cover">
  <div class="layer-img-2">
    <div class="parallax-layer1">
      <div class='w-50'>
        <div class="text-box">
          <div id="voteli-title">
            <span class='caps'>votelity</span>
          </div>
          <div class='voteli-slogan'>
            <div id="red-line-logo"></div>
            <div id="price_match_politics">
              Price match politics
            </div>
          </div>
          <div id="a_non_partisan_marketplace_to_">
            <span>
              A non-partisan application to compare <br> 
              your favorite politicians based on facts.<br> 
              Made for the people, by the people.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
    <section>
        <a href="#home" class="scroll-down" address="true" ></a>
    </section>
</div>
<%= react_component('HomeMasterComponent', prerender: false) %>

<%= render "layouts/footer" %>
