.my-profile-background-cover {
  background-image: url('https://votelity-bucket.herokuapp.com/images/my-profile-background.jpg');
  border-bottom-left-radius: 50% 33%;
  border-bottom-right-radius: 53% 38%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
}
.tittle-profile-text {
  margin-top: 20%;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: bold;
  color: #08295a;
  height: fit-content;
}
.text-cover {
  margin-top: -430px;
  margin-left: 150px;
  margin-right: 500px;
  text-align: right;
  font-family: 'Helvetica Neue', sans-serif;
  color: white;
  height: fit-content;
}
.big-text-cover {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 3px;
}
.your-likes-small-text {
  font-size: 0.7rem;
  display: flex;
  display: inline;
  font-style: normal;
  font-weight: lighter;
}
.red-line-logo-profile {
  display: flex;
  border: 5px solid #f81b1b;
  margin-right: 1rem;
  width: 15vw;
  margin-left: 290px;
}
.your-politician-text {
  margin-top: -34px;
}
