
<footer id="footer">
  <div class="eagle">
  </div>
  <%# <div class="background-footer-top"></div>
  <div class="background-footer-botton"></div> %>
  <div>
    <ul>
      <li><a href="https://www.facebook.com" class="fa fa-facebook"></a>
        <a href="https://www.instagram.com/votelity_us" class="fa fa-instagram"></a>
       <br>
        Created with Passion by: Joshua Matrinez, Miguel Clavel, Garbiel Vicioso, Anthony Gil
    </ul>
 
  </div>
</footer>
